* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    font-family: 'Roboto', sans-serif;
}*/
img {
    width: 100%;
    margin-bottom: 10px;
}
.fixed {
    display: fixed;
}
    /*
header {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}*/
h1 {
    color: #fb6e14;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
#boton-carrito {
    border: none;
    color: #fb6e14;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 7px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #fb6e14;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1400px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select{
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #fb6e14;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #fb6e14;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.card .card-image .card-title{
    color :#fb6e14;
    position:unset
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #fb6e14;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
